<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>Chicago Crime Analysis</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/dboptions.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/dashboard.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/display.css">

    <style>
        th, td {
            padding: 4px;
            text-align: center;
        }

        h1, .nav-link, .nav-link:active {
            color: brown !important;
        }

        .tag {
            color: blue;
            text-decoration: underline;
        }
    </style>

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h4 class="nav-bar-title">Chicago Crime Analysis</h4>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="/">Overview</a>
                </li>
                <li>
                    <a href="/district-analytics">District-Level Analytics</a>
                </li>
                <li class="active">
                    <a href="/admin">Admin Portal</a>
                </li>
                <li>
                    <a href="/contact">Contact Us</a>
                </li>
            </ul>
        </nav>
    <div id="content">
        <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-justify"></i>
        </button>
        <h3 class="report-title"> Chicago Crime Report </h3> <br> <br>
        <br>
        <div class="card text-center">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a class="nav-link" href="/admin">Add Records</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/displayContents">View and Modify Records</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/deleteRecords">Delete Records</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/searchRecords">Search Records</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
                <h1 class="header-text2"> Crime Details </h1>
    <table id="crimeTable" border="1">
            <tr>
                <th>ID</th>
                <th>Case Number</th>
                <th>Date</th>
                <th>Block</th>
                <th>IUCR</th>
                <th>Primary Type</th>
                <th>Description</th>
                <th>Location Description</th>
                <th>Arrest</th>
                <th>Domestic</th>
                <th>Beat</th>
                <th>District</th>
                <th>Ward</th>
                <th>Community Area</th>
                <th> FBI Code</th>
                <th> Edit Record</th>
            </tr>
            <% for(var i=0; i < crime.length; i++) { %>
            <tr>
                <td class="ID"><%= crime[i].ID %></td>
                <td class="CaseNumber"><%= crime[i]['Case Number'] %></td>
                <td class="Date"><%= crime[i]['Date'] %></td>
                <td class="Block"><%= crime[i].Block %></td>
                <td class="IUCR"><%= crime[i].IUCR %></td>
                <td class="PrimaryType"><%= crime[i]["Primary Type"] %></td>
                <td class="Description"><%= crime[i].Description %></td>
                <td class="LocationDescription"><%= crime[i]["Location Description"] %></td>
                <td class="Arrest"><%= crime[i].Arrest %></td>
                <td class="Domestic"><%= crime[i].Domestic %></td>
                <td class="Beat"><%= crime[i].Beat %></td>
                <td class="District"><%= crime[i].District %></td>
                <td class="Ward"><%= crime[i].Ward %></td>
                <td class="CommunityArea"><%= crime[i]["Community Area"] %></td>
                <td class="FBICode"><%= crime[i]["FBI Code"] %></td>
                <td class="tag"><a id="<%=i%>" href="/updateRecord" style="padding-right: 10px" onclick="myFunction(event)">Edit</a></td>
            </tr>
            <% } %>
        </table>
        <script type="text/javascript">
        function myFunction(event) { 
            var index = parseInt(event.target.id);
            var data = updateStorage(index);
            console.log("Sending Data: " + data);
            sessionStorage.setItem("crime", JSON.stringify(data));
        }

        function updateStorage(i){
            var data = {
                ID: document.getElementsByClassName("ID")[i].innerHTML,
                CaseNumber: document.getElementsByClassName("CaseNumber")[i].innerHTML,
                Date: document.getElementsByClassName("Date")[i].innerHTML,
                Block: document.getElementsByClassName("Block")[i].innerHTML,
                IUCR: document.getElementsByClassName("IUCR")[i].innerHTML,
                PrimaryType: document.getElementsByClassName("PrimaryType")[i].innerHTML,
                Description: document.getElementsByClassName("Description")[i].innerHTML,
                LocationDescription: document.getElementsByClassName("LocationDescription")[i].innerHTML,
                Arrest: document.getElementsByClassName("Arrest")[i].innerHTML,
                Domestic: document.getElementsByClassName("Domestic")[i].innerHTML,
                Beat: document.getElementsByClassName("Beat")[i].innerHTML,
                District: document.getElementsByClassName("District")[i].innerHTML,
                Ward: document.getElementsByClassName("Ward")[i].innerHTML,
                CommunityArea: document.getElementsByClassName("CommunityArea")[i].innerHTML,
                FBICode: document.getElementsByClassName("FBICode")[i].innerHTML
            }
            return data;
        }
        </script>
    </div>
</div>
          
        
    </div>
</div>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>

</body>

</html>
